<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GPG encrypt</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
    </head>
    <body>
        <h1>Encrypt your files</h1>
        <form method=post enctype=multipart/form-data>
            <div class="form-row">
                <label for="recipient">Files</label>
                <br>
                <input type="file" id="files" name="files" multiple>
            </div>

            <input type=submit value=Encrypt>
        </form>

        {% if outcome.err != None %}
        <div class="alert">
            ⚠ {{outcome.err}} ⚠
        </div>
        {% endif %}
    </body>
</html>
