<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPG encrypter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  </head>
  <body>
    <h1>Login</h1>
    <form action="{{ url_for('simplelogin.login', next=request.args.get('next', '/')) }}" method="post">
      {{ form.csrf_token }}
      {{ form.username.label }}<div class="form-control">{{ form.username }}</div><br>
      {{ form.password.label }}<div class="form-control"> {{ form.password }}</div><br>
      <input type="submit" value="Send">
    </form>

    {%if form.errors %}
    <ul class="alert alert-danger">
      {% for field, errors in form.errors.items() %}
      <li>{{field}} {% for error in errors %}{{ error }}{% endfor %}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
